{% extends 'layout.html.twig' %}

{% block content %}
	<!--Essa página será importada dentro do layout-->
	<!--Fazemos isso com o comando extends do twig-->
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Editar de categoria de custo</h3>
				</div>
				<div class="panel-body">
					<!-- Vamos setar as variáveis que a view a ser incluida vai utolizar--> 
					{% set action = route('category-costs.update',{'id':category.id}) %}
					{% set submitIcon = 'pencil' %}
					<!-- Vamos fazer o include do formulario, precisamos incluir o caminho inteiro para o twig localizar-->
					{% include 'category-costs/_form.html.twig' %}
				</div>
			</div>
		</div>
	</div>

<!-- Delimita o fim do bloco a ser importado-->
{% endblock %}